{% for item in nat_policy_info %}
set security nat source rule-set {{ item.rule_set }} from zone {{ item.src_zone }}
set security nat source rule-set {{ item.rule_set }} to zone {{ item.dst_zone }}
    {% for rule in item.rules %}
        {% for src_ip in rule.src_ips %}
        set security nat source rule-set {{ item.rule_set }} rule {{ rule.name }} match source-address {{ src_ip }}
        {% endfor %}
        {% for dst_ip in rule.dst_ips %}
        set security nat source rule-set {{ item.rule_set }} rule {{ rule.name }} match destination-address {{ dst_ip }}
        {% endfor %}
        {% if rule.interface is defined %}
        set security nat source rule-set {{ item.rule_set }} rule {{ rule.name }} then source-nat interface
        {% endif %}
        {% if rule.pool_name is defined %}
        set security nat source rule-set {{ item.rule_set }} rule {{ rule.name }} then source-nat pool {{ rule.pool_name }}
        {% endif %}
    {% endfor %}
{% endfor %}
